%h1.recipe-title{ class: [('favorite' if @recipe.favorite? && !@recipe.forgotten?), ('forgotten' if @recipe.forgotten?)].compact }
  = @recipe.display_name

.recipe-meta.mb-lg
  = link_to 'Back', [:public, @recipe.cookbook], class: 'btn btn-secondary'
  - if @recipe.section
    %span.badge.badge-secondary= @recipe.section.name
  - if @recipe.link
    = link_to 'Open Link', @recipe.link, class: 'btn btn-secondary', target: '_blank', rel: 'noopener'

.recipe-instructions
  = @recipe.instructions
