.row
  .col= btn_to 'Add a Recipe', [:new, :recipe]
  .col= btn_to 'Manage Sections', :sections, type: 'secondary', style: 'float-right'

- Current.cookbook.sections.by_position.each do |section|
  %br
  %br
  %h2= section.name
  %table.table.table-striped
    - count = [(section.recipes.count / 10.0).ceil, 3].min
    - columns = section.recipes.abc.in_groups(count)
    - 0.upto(columns.first.size) do |i|
      %tr
        - 0.upto(count) do |j|
          - recipe = columns&.at(j)&.at(i)
          - if recipe
            %td{ width: '1em'}
              = fire_if recipe.favorite?
              = forgotten_if recipe.forgotten?
            %td= link_to recipe.name, recipe

- if Current.cookbook.recipes.where(section: nil).any?
  %h2 Uncategorized
  %table.table.table-striped
    - Current.cookbook.recipes.where(section: nil).abc.each do |recipe|
      %tr
        %td= link_to recipe.name, recipe
