.page-header
  = btn_to 'Add Recipe', [:new, :recipe]
  = btn_to 'Sections', :sections, type: 'secondary'

- sections = Current.cookbook.sections.by_position.to_a
- has_uncategorized = Current.cookbook.recipes.where(section: nil).any?

- if sections.size > 1 || has_uncategorized
  .section-links
    - sections.drop(1).each do |section|
      = link_to section.name, "#section-#{section.id}", class: ['section-link', section.link_color_class]
    - if has_uncategorized
      - uncategorized_color_index = (sections.size - 1) % Section::COLOR_COUNT
      = link_to 'Uncategorized', '#section-uncategorized', class: "section-link section-link-#{uncategorized_color_index}"

- sections.each_with_index do |section, index|
  %h2.section-header{ id: (index > 0 ? "section-#{section.id}" : nil) }= section.name
  - if section.recipes.any?
    .recipe-columns
      - section.recipes.bases_only.includes(:variants).abc.each do |recipe|
        .recipe-family
          .recipe-item{ class: [('favorite' if recipe.favorite? && !recipe.forgotten?), ('forgotten' if recipe.forgotten?)].compact }
            .recipe-item-content
              .recipe-name
                = link_to recipe.display_name, recipe, class: 'recipe-link'
              .recipe-meta
                - if recipe.forgotten? && recipe.family_last_cooked_on
                  %span.last-cooked
                    = time_ago_in_words(recipe.family_last_cooked_on)
                    ago
                - if recipe.link.present?
                  = link_to '🔗', recipe.link, class: 'link-icon', target: '_blank', rel: 'noopener'

          - recipe.variants.sort_by(&:name).each do |variant|
            .recipe-item.variant{ class: [('favorite' if variant.favorite? && !variant.forgotten?), ('forgotten' if variant.forgotten?)].compact }
              .recipe-item-content
                .recipe-name
                  = link_to variant.name, variant, class: 'recipe-link'
                .recipe-meta
                  - if variant.forgotten? && variant.family_last_cooked_on
                    %span.last-cooked
                      = time_ago_in_words(variant.family_last_cooked_on)
                      ago
                  - if variant.link
                    = link_to '🔗', variant.link, class: 'link-icon', target: '_blank', rel: 'noopener'

- if Current.cookbook.recipes.where(section: nil).any?
  %h2.section-header#section-uncategorized Uncategorized
  .recipe-columns
    - Current.cookbook.recipes.where(section: nil).bases_only.includes(:variants).abc.each do |recipe|
      .recipe-family
        .recipe-item{ class: [('favorite' if recipe.favorite? && !recipe.forgotten?), ('forgotten' if recipe.forgotten?)].compact }
          .recipe-item-content
            .recipe-name
              = link_to recipe.display_name, recipe, class: 'recipe-link'
            .recipe-meta
              - if recipe.forgotten? && recipe.family_last_cooked_on
                %span.last-cooked
                  = time_ago_in_words(recipe.family_last_cooked_on)
                  ago
              - if recipe.link
                = link_to '🔗', recipe.link, class: 'link-icon', target: '_blank', rel: 'noopener'

        - recipe.variants.sort_by(&:name).each do |variant|
          .recipe-item.variant{ class: [('favorite' if variant.favorite? && !variant.forgotten?), ('forgotten' if variant.forgotten?)].compact }
            .recipe-item-content
              .recipe-name
                = link_to variant.name, variant, class: 'recipe-link'
              .recipe-meta
                - if variant.forgotten? && variant.family_last_cooked_on
                  %span.last-cooked
                    = time_ago_in_words(variant.family_last_cooked_on)
                    ago
                - if variant.link
                  = link_to '🔗', variant.link, class: 'link-icon', target: '_blank', rel: 'noopener'
