.row
  .col= btn_to 'Add a Recipe', [:new, :recipe]
  .col= btn_to 'Manage Sections', :sections, type: 'secondary', style: 'float-right'

- Current.cookbook.sections.by_position.each do |section|
  - columns = section.recipes.count > 10 ? 2 : 1
  %br
  %br
  %h2= section.name
  %table.table.table-striped
    - section.recipes.abc.in_groups_of(columns, false) do |group|
      %tr
        - group.each do |recipe|
          %td{ width: '1em'}
            = fire_if recipe.favorite?
            = forgotten_if recipe.forgotten?
          %td= link_to recipe.name, recipe

- if Current.cookbook.recipes.where(section: nil).any?
  %h2 Uncategorized
  %table.table.table-striped
    - Current.cookbook.recipes.where(section: nil).abc.each do |recipe|
      %tr
        %td= link_to recipe.name, recipe
