.row
  .col= btn_to 'Add a Recipe', [:new, :recipe]
  .col= btn_to 'Manage Sections', :sections, type: 'secondary', style: 'float-right'

- Current.cookbook.sections.by_position.each do |section|
  %br
  %br
  %h2= section.name
  - if section.recipes.any?
    %table.table.table-striped
      - section.recipes.bases_only.includes(:variants).abc.each do |recipe|
        %tr
          %td{width: '1em'}
            = fire_if recipe.favorite? && !recipe.forgotten?
            = forgotten_if recipe.forgotten?
          %td= link_to recipe.name, recipe

        - recipe.variants.sort_by(&:name).each do |variant|
          %tr.variant-row
            %td{width: '1em'}
              = fire_if variant.favorite? && !variant.forgotten?
              = forgotten_if variant.forgotten?
            %td
              %span.ms-3= link_to variant.name, variant

- if Current.cookbook.recipes.where(section: nil).any?
  %h2 Uncategorized
  %table.table.table-striped
    - Current.cookbook.recipes.where(section: nil).bases_only.includes(:variants).abc.each do |recipe|
      %tr
        %td{width: '1em'}
          = fire_if recipe.favorite? && !recipe.forgotten?
          = forgotten_if recipe.forgotten?
        %td= link_to recipe.name, recipe

      - recipe.variants.sort_by(&:name).each do |variant|
        %tr.variant-row
          %td{width: '1em'}
            = fire_if variant.favorite? && !variant.forgotten?
            = forgotten_if variant.forgotten?
          %td
            %span.ms-3= link_to variant.name, variant
