%h1 New Recipe

#recipe_form_container
  - if @recipe.errors.any?
    .alert.alert-danger
      %strong= pluralize(@recipe.errors.count, "error")
      prevented this recipe from being saved:
      %ul
        - @recipe.errors.full_messages.each do |message|
          %li= message

  = form_with model: @recipe do |f|
    = render 'form', form: f
    %p= f.submit 'Save'

  %p= link_to 'Back', root_url
