= content_for :title, @recipe.name

%h1= @recipe.name

%p= link_to 'Edit', [:edit, @recipe]
%p= link_to 'Back', root_url
%p Section: #{@recipe.section&.name}

- if @recipe.link
  %p= link_to @recipe.link, @recipe.link

= @recipe.instructions

%h2 History

%p Times cooked: #{@recipe.cooks.count}

- @recipe.cooks.order(date: :desc).each do |c|
  %p
    .date{style: 'float: left'}= c.date.to_s
    = button_to 'x', c, method: :delete

= form_with model: Cook.new(date: Date.today), url: [@recipe, :cooks], data: { remote: true, turbo: false } do |f|
  %p
    = f.date_select :date, order: [:month, :day, :year]
    = f.submit 'Cooked This Day'
