= content_for :title, @recipe.display_name

.breadcrumb
  = link_to 'Recipes', root_url
  %span.separator /
  - if @recipe.section
    - sections = Current.cookbook.sections.by_position.to_a
    - section_index = sections.index(@recipe.section)
    - section_anchor = section_index == 0 ? root_url : root_url + "#section-#{@recipe.section.id}"
    = link_to @recipe.section.name, section_anchor
    %span.separator /
  %span.active= @recipe.display_name

.recipe-header
  %div
    %h1.recipe-title{ class: [('favorite' if @recipe.favorite? && !@recipe.forgotten?), ('forgotten' if @recipe.forgotten?)].compact }
      = @recipe.display_name

    .recipe-badges
      - if @recipe.section
        - color_class = section_color_class(@recipe.section)
        %span.badge{ class: color_class ? ['section-badge', color_class] : 'badge-secondary' }= @recipe.section.name
      - if @recipe.parent
        %span.badge.badge-info
          Variant of
          = link_to @recipe.parent.name, @recipe.parent
      - if @recipe.variants.any?
        %span.badge.badge-info
          = pluralize(@recipe.variants.count, 'variant')

    #recipe-stats
      = render 'recipes/stats', recipe: @recipe

  .recipe-actions
    - if @recipe.link
      = link_to 'Open Link', @recipe.link, class: 'btn btn-primary', target: '_blank', rel: 'noopener'
    = link_to 'Edit', [:edit, @recipe], class: 'recipe-edit-link'

- if @recipe.variants.any?
  .card.mb-lg
    .card-header
      Variants
    .card-body
      - @recipe.variants.abc.each do |variant|
        %div
          = link_to variant.display_name, variant

.recipe-instructions
  = @recipe.instructions

.card.cook-log-card{ data: { controller: 'preserve-scroll' } }
  .card-header
    Cooking Log
  .card-body
    #cook-form.cook-log-form-section
      = render 'recipes/cook_form', recipe: @recipe

    #cook-history
      = render 'recipes/cook_history', recipe: @recipe

