- @cookbook.sections.by_position.each do |section|
  %br
  %br
  %h2= section.name
  - if section.recipes.any?
    %table.table.table-striped
      - section.recipes.bases_only.includes(:variants).abc.each do |recipe|
        %tr
          %td{width: '1em'}
            = fire_if recipe.favorite? && !recipe.forgotten?
            = forgotten_if recipe.forgotten?
          %td= link_to recipe.name, [:public, recipe]

        - recipe.variants.sort_by(&:name).each do |variant|
          %tr.variant-row
            %td{width: '1em'}
              = fire_if variant.favorite? && !variant.forgotten?
              = forgotten_if variant.forgotten?
            %td
              %span.ms-3= link_to variant.name, [:public, variant]
