= turbo_frame_tag dom_id(section) do
  = form_with model: section, class: 'section-edit-form' do |f|
    = f.text_field :name, class: 'form-control'
    .form-actions
      = f.submit 'Save', class: 'btn btn-primary btn-sm'
      = link_to 'Cancel', section_path(section), class: 'btn btn-secondary btn-sm'
