%h1 Sections

= form_with model: @section, url: @section, data: { remote: true, turbo: false } do |f|
  %p= f.text_field :position, placeholder: 'Position'
  %p= f.text_field :name, placeholder: 'Name'
  %p= f.submit 'Create'

%table
  %tr
    %th Position
    %th Name
    %th Update
  - @sections.each do |s|
    = form_with model: s, data: { remote: true, turbo: false } do |f|
      %tr
        %td= f.text_field :position
        %td= f.text_field :name
        %td= f.submit 'Update'
