.breadcrumb
  = link_to 'Recipes', root_url
  %span.separator /
  %span.active Sections

.page-header
  %h1 Sections
  = link_to 'Back to Recipes', root_url, class: 'btn btn-secondary'

.card.mb-lg
  .card-header
    Add New Section
  .card-body
    = form_with model: @section, class: 'inline-form' do |f|
      .form-group
        = f.text_field :name, placeholder: 'Section name', class: 'form-control'
      = f.submit 'Create Section', class: 'btn btn-primary'

- if @sections.any?
  .card.sections-card
    .sections-table
      %table.table
        %thead
          %tr
            %th Order
            %th Name
            %th
        %tbody#sections-table-body
          = render 'sections_rows', sections: @sections
- else
  .empty-state
    No sections yet. Create your first section to organize your recipes.
